.brands-container {
    max-width: 600px;
    margin: auto;
    padding:0 1em;
    overflow: hidden;
  }
  
  .brands-carousel {
    position: relative;
    padding-left: 0;
    margin: 0;
    height: 800px;
    overflow: hidden;
  }
  
  .brands-carousel > div {
    width: 100%;
  }
  
  .brands-carousel > picture {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    animation: carousel 15s linear infinite;
    transform: translateX(100%);
  }
  
  .brands-carousel > picture:nth-child(1) {
    animation-name: first-picture, carousel;
    animation-duration: 15s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 15s;
    transform: translateX(0%);
  }
  .brands-carousel > picture:nth-child(2) {
    animation-delay: Calc(15s * .33);
  }
  .brands-carousel > picture:nth-child(3) {
    animation-delay: Calc(15s * .66);
  }
  
  @keyframes first-picture {
    0% { transform: translateX(0%); }
    7.5%, 33% { transform: translateX(0); }
    40.5%, 100% { transform: translateX(-100%); }
  }
  
  @keyframes carousel {
    0% { transform: translateX(100%); }
    7.5%, 33% { transform: translateX(0); }
    40.5%, 100% { transform: translateX(-100%); }
  }
  
  @keyframes first-picture-responsive {
    0% { transform: translateX(0%); }
    5.5%, 25% { transform: translateX(0); }
    30.5%, 100% { transform: translateX(-100%); }
  }
  
  @keyframes carousel-responsive {
    0% { transform: translateX(100%); }
    5.5%, 25% { transform: translateX(0); }
    30.5%, 100% { transform: translateX(-100%); }
  }
  
  .brands-carousel > picture:last-child {
    display: none;
  }
  
  @media screen and (max-width: 766px) {
    .brands-container {
      max-width: 200px;
    }
    .brands-carousel > picture {
      animation: carousel-responsive 20s linear infinite;
    }
  
    .brands-carousel > picture:nth-child(1) {
      animation-name: first-picture-responsive, carousel-responsive;
      animation-duration: 20s;
      animation-iteration-count: 1, infinite;
      animation-delay: 0s, 20s;
    }
  
    .brands-carousel > picture:nth-child(2) {
      animation-delay: Calc(20s * .25);
    }
    .brands-carousel > picture:nth-child(3) {
      animation-delay: Calc(20s * .50);
    }
    .brands-carousel > picture:nth-child(4) {
      animation-delay: Calc(20s * .75);
      display: block;
    }
  }