#header_img{
	text-align: center;
}
head{
	color: maroon;
	/*margin-left: 40px;*/
}

body {
background-color: #6f785d;
text-align: center;

}

#reg_form{
	text-align: center;
}

.box_class{

}
.container{
/*	display: block;
	background-color: purple;*/

}
/*.row{
	display: block;
	background-color: hotpink;
}*/
.header{
	display: inline-block;
	background-color: green;
	height: 90px;
	width: 250px;

}
.row1{
	display: inline-block;
	background-color: blue;
	height: 90px;
	width: 250px;
}
.row2{
	display: inline-block;
	background-color: orange;
	height: 90px;
	width: 250px;
}
.col1{
	display: inline-block;
	background-color: yellow;
	height: 200px;
	width: 150px;
}
.footer{
	display: inline-block;
	background-color: plum;
	height: 90px;
	width: 250px;
}