/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* reasonable starting margins */
li { margin-left: 2em; }

/* setup headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

/* setup pre */
pre {
     font-family: consolas, Georgia, monospace; 
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif, Arial, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-size: 18px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
	text-align: center;
}

footer {
    background: #333;
}

footer p {
    color: #ccc;
    font-size: 70%;
    font-family: tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}
