body{
	background-color: #B4A5A5;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
	text-align: center;
}
.info-body{
    background-color: #082032;
}
.image {
    height: 54%;
    border-radius: 20%;
    width: auto;
}
p{
    margin-top: 0;
    margin-bottom: 0rem;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
